*html{
    margin: 0;
    padding: 0;
}

body {
    font-family : 'Montserrat', sans-serif;
    font-size   : 16px;
    line-height : 26px;
    color       : #fff;
    font-weight : 400;
    background: #333;
    margin: 0;
    }

/*--------------------------------------
 * TYPOGRAPHY  
 *--------------------------------------*/

h1 {
    font-size   : 60px;
    line-height: 1;
    margin: 0
    }
h2{
    font-size: 24px;
    font-weight: normal;
}

/*--------------------------------------
 * LINK STYLE 
 *-------------------------------------- */
a {
    color: #fff;
    text-decoration : none;
    }


a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
    }

a:hover,
a:focus {
    text-decoration : none;
    }


/*-------------------------------------------------------------
 * Main Wraper
 *-------------------------------------------------------------*/
 .wraper {
    padding: 4%;
    color: #fff;
    padding-top: 100px;
}


/*-------------------------------------------------------------
 * HEADER
 *-------------------------------------------------------------*/
.header {
    /*margin-bottom: 50px;*/
    height: 10%;
    width: 300px; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 0;
    left: 95;
    right: 5;
    margin: 0 auto;
}

 #back{
    background-image: url("../img/videoframe.jpg");
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: visible;
    z-index: -100;
}

#video_present {
    height: 55%;
    position: fixed;
    top: 8%;
    left: 26%;
    z-index: 1;
}

.item img {
    width: auto;
    height: 170px;
    max-height: 170px;
}

.carousel-caption {
    left: -50% !important;
}

.carousel-inner {
    top: 10%;
    left: 35%;
}

#myCarousel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    left: 0;
    background-color: #FFFFFF;
}

#title {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
}

#setas {
    position: fixed;
    top: 50%;
    right: 11%;
}

#navegar {
    position: fixed;
    top: 51%;
    right: 2%;
}

#enter {
    position: fixed;
    top: 56%;
    right: 11%;
}

#escolher {
    position: fixed;
    top: 57%;
    right: 2%;
}

#video {
    position: fixed;
    top: 0;
    right: 16%;
    height: 470px;
    width: 775px;
}